@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #181818;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #181818;
  z-index: 3000;
  border-bottom: 2px solid #F74366;
}

main {
  padding-top: 30px;
}

div .container {
  padding-top: 30px;
}

.singleCard {
  width: 350px;
  /* position: absolute; */
  margin-bottom: 10px;
}


h1 {
  color: #F74366;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
  color: #F74366;
}

.stars {
  font-size: 1.5rem;
}

.filledStars {
  color: gold;
}